{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  },
  "env": {
    "browser": true,
    "node": true
  }
}