.login {
    min-width: 396px;
    margin-top: 70px;
}

.login__title {
    margin-top: 40px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.login__form {
    width: 100%;
    margin-top: 40px;
}

.login__input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
    position: relative;
}

.login__input-field:first-child {
    margin-top: 0;
}

.login__input-label {
    font-size: 10px;
    line-height: 1.2;
    color: #A0A0A0;
}

.login__input {
    padding: 0;
    margin-top: 10px;
    border: none;
    outline: none;
    width: 100%;
    height: 46px;
    font-size: 13px;
    line-height: 1.23;
    border-radius: 8px;
    background-color: #F9F9F9;
}


.login__input::placeholder {
    padding-left: 15px;
    color: #000;
}

.login__input-error {
    position: absolute;
    top: 100%;
    font-size: 10px;
    line-height: 1.2;
    color: #EE3465;
}

.login__button {
    padding: 0;
    margin-top: 179px;
    width: 100%;
    height: 45px;
    background-color: #FF6838;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #FFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.22;
}
.login__button:disabled {
    background-color: #A0A0A0;
}

.login__link-field {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px auto 0;
    font-size: 14px;
    line-height: 1.21;
    font-weight: 400;
}

.login__link-label {
    color: #A0A0A0;
}

.login__login-link {
    margin-left: 6px;
    text-decoration: none;
    color: #ff6838;
}

@media screen and (max-width: 768px) {
    .login {
        margin-top: 232px;
        margin-bottom: 232px;
    }
}

@media screen and (max-width: 480px) {
    .login {
        margin-top: 56px;
        margin-bottom: 30px;
        min-width: 260px;
    }

    .login__logo {
        display: block;
        margin: 0 auto 0;
    }
    .login__title {
        margin: 50px auto 0;
        text-align: center;
    }
    .login__form {
        margin-top: 80px;
    }
    .login__button {
        font-size: 12px;
        line-height: 1.25;
        margin-top: 267px;
    }
    .login__link-field {
        font-size: 12px;
        line-height: 1.25;
        margin-top: 14px;
    }
}